data/news_data.json
data/news_data.json
pb_data/
backend/.venv/
backend/.ruff_cache/
backend/__pycache__/
backend/db/__pycache__/
backend/openrouter/__pycache__/
telemetry-id
backend/scraper/__pycache__/*
backend/scraper/rules/__pycache__/
backend/db/crud/__pycache__/
.env
!.env.example
backend/db/crud/stats/__pycache__
