data/news_data.json
data/news_data.json
pb_data/
server/__pycache__
server/db/__pycache__/
server/openrouter/__pycache__/
docker-compose.yml
telemetry-id
server/scraper/__pycache__/*
server/main.py
server/scraper/rules/__pycache__/
server/db/crud/__pycache__/
