services:
  php_app:
    image: php:8.3-fpm
    volumes:
      - ./ui:/var/www/html

  nginx_server:
    image: nginx:alpine
    ports:
      - "80:80" # Opens the server to the world
    volumes:
      - ./ui:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  backend:
    build: ./server
    command: uv run server.py # Change this from uvicorn to your filenam
    restart: always
    environment:
      POCKETBASE_URL: http://pocketbase:8080
      POCKETBASE_ADMIN_EMAIL: "handyjason053@gmail.com"
      POCKETBASE_ADMIN_PASSWORD: "handyjason053@gmail.com"
      OPENROUTER_API_KEY: "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"

  scraper:
    build: ./server
    command: uv run python scrape.py
    profiles: ["tools"]
    environment:
      POCKETBASE_URL: http://pocketbase:8080
      POCKETBASE_ADMIN_EMAIL: "handyjason053@gmail.com"
      POCKETBASE_ADMIN_PASSWORD: "handyjason053@gmail.com"
      OPENROUTER_API_KEY: "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"
      SERPAPI_API_KEY: "a1f2e133812cbca2dde9173b10d00aed814a914762efb200e568625feccab514"

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    ports:
      - "8080:8080"
    volumes:
      - ./pb_data:/pb_data
    command:
      - serve
      - --http=0.0.0.0:8080
      - --dir=/pb_data
    restart: unless-stopped
