services:
  php_app:
    image: php:8.3-fpm
    volumes:
      - ./ui:/var/www/html

  nginx_server:
    image: nginx:alpine
    ports:
      - "80:80" # Opens the server to the world
    volumes:
      - ./ui:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  backend:
    build: ./server
    command: uv run server.py # Change this from uvicorn to your filenam
    restart: always

  scraper:
    build: ./server
    command: uv run python scrape.py
    profiles: ["tools"]

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    ports:
      - "8080:8080"
    volumes:
      - ./pb_data:/pb_data
    command:
      - serve
      - --http=0.0.0.0:8080
      - --dir=/pb_data
    restart: unless-stopped
