main.container {
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 1rem;
}

@media (min-width: 992px) {
    main.container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
    }
}
